.encrypted > .ct {
  display: none;
}

.encrypted {
  width: 100%;
  padding: 5px;
  display: block;
  background-color: rgba(.9,.9,.9,.1);
  backdrop-filter: blur(10px);
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}

.encrypted::before {
  content: '🔒';
  font-size: 200%;
}

 /* The sidepanel menu */
.sidepanel {
  /*height: 250px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgba(.9,.9,.9,.1);
  backdrop-filter: blur(10px);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  padding-bottom: 60px;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
  margin-left: 50px;
}

.sidepanel label {
  text-decoration: none;
  float: left;
  width: 10%;
  overflow: hidden;
}

.sidepanel input {
  font-size: 16px;
  float: right;
  width: 90%;

}

.sidepanel .spcontainer {
  padding: 1em;
}

